body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

header {
  margin: 0;
  background-color: #075379;
  color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
}

header div {
  padding: 15px 15px 15px 25px;
}

header h1 {
  font-size: 48px;
  font-family: serif;
  margin: 0;
}

header p {
  margin: 5px 0 0 0;
  font-weight: bold;
}

nav {
  background-color: #4599ed;
  padding: 10px 10px 10px 25px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.8rem;
}

section {
  padding: 10px 20px 0 40px;
  margin: 160px 0 60px;
}

section.home {
  padding: 0;
  min-height: 700px;
  margin-top: 143px;
  background-image: url("../public/Screenshot-2025-06-27-at-13.26.29.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
}

label {
  font-weight: bold;
}

/*----- Player Entry Form ------*/
.addPlayerContainer {
  width: 100%;
}

.addPlayerContainer h3 {
  margin: 0;
}

.addPlayerContainer em {
  font-size: 10px;
  display: block;
  margin-bottom: 10px;
}

.addPlayerForm {
  width: 40%;
}

.addPlayerFormFields {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 20px 20px;
  width: fit-content;
}

.addPlayerFormFields label,
.addPlayerFormFields button,
.findPlayersFilters label {
  margin: 10px 0 5px;
  display: block;
}

.addPlayerFormFields input[type="text"],
.addPlayerFormFields input[type="email"] {
  width: 250px;
}

/* .addPlayerFormFields input[type="checkbox"],
.addPlayerFormFields select {
  width: 100%;
} */

/*----- Search for players ------*/
.findPlayersPage h3 {
  margin: 0 0 10px;
}

.findPlayersFilters {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 30%;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 0 0 10px 20px;
}

.findPlayersFilters div {
  display: inline-block;
  margin-right: 30px;
  width: fit-content;
}

.findPlayersFilters button {
  margin-top: 15px;
  width: fit-content;
  background-color: blue;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

label.ptype {
  display: inline;
  margin-left: 5px;
}
.playerInfoBox {
  margin-top: 20px;
}
.playerInfo:nth-child(odd) {
  background-color: #e6eaf9;
}

.playerInfo {
  padding: 20px;
  display: grid;
  grid-template-columns: 200px 250px 130px 150px;
}

.playerInfo h4,
.playerInfo p {
  margin: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #4599ed;
  color: #fff;
  padding: 10px 10px 10px 25px;
}
