body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: #075379;
}

main {
  margin: 0 auto;
  width: 45%;
}

header {
  margin: 0;
  color: #ffffff;
  width: 100%;
}

header h1 {
  font-size: 64px;
  font-family: serif;
  margin: 0;
  text-align: center;
}

header p {
  margin: 5px 0 20px 0;
  font-weight: bold;
  text-align: center;
}

nav {
  text-align: center;
  width: 70%;
  margin: 0 auto 30px;
  background-color: #1684bb;
  border-radius: 10px;
}

nav button {
  color: #ffffff;
  font-weight: bold;
  font-size: 0.8rem;
  border: none;
  width: 50%;
  border-radius: 10px;
  padding: 15px 0;
  background-color: #1684bb;
  background-image: none;
}

nav button.active {
  background-color: #96bae4;
}

nav button :first {
  margin-right: 50px;
}

label {
  font-weight: bold;
}

h1 {
  text-align: center;
  color: #ffffff;
  padding: 10px 0;
  margin: 0;
}

h3 {
  color: #ffffff;
  margin: 0 0 10px 0;
}

/*----- Player Entry Form ------*/

.addPlayerContainer em {
  font-size: 0.65rem;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  color: #ffffff;
}

.addPlayerFormFields {
  padding: 0 20px 20px;
}

.addPlayerTop {
  display: inline-block;
  width: 50%;
  margin: 10px 0 25px;
}

.addPlayerFormFields label,
.addPlayerFormFields button,
.findPlayersFilters label {
  margin: 10px 0 5px;
  display: block;
}

.addPlayerFormFields input[type="text"],
.addPlayerFormFields input[type="email"] {
  width: 85%;
}

/*----- Search for players ------*/

.addPlayerContainer,
.findPlayersFilters {
  background-color: #023149;
  border-radius: 20px;
  padding: 0 20px;
  margin-bottom: 20px;
}

h3 .directionText {
  font-size: 0.6rem;
}

.dayList,
.timezList,
.ptypeList {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 20px;
  margin-bottom: 20px;
}

button {
  background-image: linear-gradient(45deg, #026ba0, #318ebc);
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: #ffffff;
  font-weight: bold;
}

.findPlayersFilters button.reset {
  margin: 15px 0;
  width: fit-content;
  background-color: blue;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

button.active {
  background-image: linear-gradient(45deg, #ab6606, #e5a54b);
}

label.ptype {
  display: inline;
  margin-left: 5px;
}
.playerInfoBox {
  margin: 20px 0 10px;
}
.playerInfo:nth-child(odd) {
  background-color: #e6eaf9;
}
.playerInfo:nth-child(even) {
  color: #ffffff;
}

.playerInfo:nth-child(even) a {
  color: #ffffff;
}

.playerInfo {
  display: grid;
  grid-template-columns: 30% 30% 20% 20%;
}

.playerInfo h4,
.playerInfo p {
  margin: 0;
}

.playerInfo div {
  word-wrap: break-word;
  padding: 20px 10px;
}

.addSuccess {
  color: #ffffff;
}

.footer {
  bottom: 0;
  background-color: #023149;
  color: #fff;
  border-radius: 10px;
  padding: 10px 10px 10px 25px;
}
