body {
  margin: 0;
  font-family: "Arial", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  text-align: center;
}

header h1 {
  font-size: 48px;
  margin: 25px 0 15px;
}

.simon-player {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  background: url("/public/img/simon-body.png");
  background-size: 100% 100%;
}

.simon-player img {
  position: absolute;
}

img.buttontop {
  top: 30px;
}

img.buttonleft {
  left: 30px;
}

img.buttonright {
  right: 30px;
}

img.buttonbottom {
  bottom: 30px;
}

.startBtn {
  position: fixed;
  top: calc(50% - 290px);
  left: calc(50% - 260px);
  width: 520px;
  height: 520px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 80%);
}
.startBtn button {
  position: absolute;
  background-color: #780606;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 24px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 0;
  width: 120px;
  height: 55px;
  text-align: center;
  top: calc(50% - 28px);
  left: calc(50% - 60px);
}

.startBtn button:hover {
  cursor: pointer;
}

.counter {
  text-align: center;
}
.counter p {
  font-weight: 1rem;
}

audio {
  display: inline;
}
